setup.cfg
setup.cfg.*
.Rhistory
cecog_rc.py
dist
build
Analysis
*.pkl
Release/
Debug/
resources/doc/*.*
build.info
resource.py
*.dmg
*_flymake.py
*~
*.so
*.exe
*.dll
*.pkl
*.orig
*.diff
.project
.pydevproject
.settings
.DS_Store
.RHistory
.RData
.Rhistory
.Rdata
*.o
*.suo
*.sparseimage
*.user
*.nc
*.nc4
*.hdf5
*.hdf
*.hf5
*.ncb
*.h5

\#.*
.\#.*
*_flymake.py
*.py[codb]
*.mex
*.mexw32
*.mexglx
*.bak
*.obj
.libs
.deps
*#*
*.ilk
*.exp
*.lib
*.dll
*.[do]
*.l[doa]
*.loT
